@mixin flex-center {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 0.9rem;
}

@mixin ticket_time {
  margin-top: 4%;
  p {
    margin: 0;
  }
  p:first-child {
    font-size: 50px;
  }
  p:nth-of-type(2) {
    font-weight: bold;
    overflow: visible; 
    white-space: nowrap;
    font-size: 20px;
  }
  p:nth-of-type(3) {
    white-space: nowrap;
    font-size: 15px;
    color: #0000006e;
  }
}

.ticket_container {
  margin: 15px -55px;
  display: flex;
  border: 1px solid #ccc;
  justify-content: space-between;
  border-radius: 5px;
  width: 60vw;
  background: #ffffff;
  color: #000;

  .ticket_info {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .ticket_buy {
    @include flex-center;
    width: 44%;
    border-right: 0.001px #ccc solid;
    justify-content: space-between;
    align-items: center;
    height: 90%;
  }
  .ticket_buy_logo img {
    padding-top: 15%;
    width: 85%; /* Установите нужную ширину */
    height: auto; /* Сохранение пропорций изображения */
    max-width: 100%; /* Предотвращение выхода за границы контейнера */
  }

  .ticket_departure {
    overflow: visible; /* Позволяет содержимому выходить за пределы контейнера */
    white-space: nowrap;
    margin-left: 6%;
    align-items: start;
    @include ticket_time;
    @include flex-center;
  }

  .ticket_stops {
    height: 10px;
    margin-right: 5%;
    @include flex-center;
  }
  .ticket_stops__line {
    position: relative;
    border-top: #ccc solid;
    width: 150%;
    right: 20%;
  }

  .ticket_arrive {
    margin-right: 6%;
    align-items: end;
    @include ticket_time;
    @include flex-center;
  }
}

.button {
  font-size: 140%;
  background: #ff5722;
  color: #fff;
  border: none;
  height: 12vh;
  width: 14vw;
  margin-top: 20%;
  margin-bottom: 20px;
  cursor: pointer;
}
